body {
    background-color: #111927;
    background-image:
            radial-gradient(at 47% 33%, hsl(259.05, 36%, 35%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
    background-repeat: no-repeat;
    color: white;
}

.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    justify-content: space-around;
    display: flex;
}

#information {
    text-align: center;
}

#logo {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
}