body {
    background-color: white;
    color: black;
}

.container {
    border : 1px solid black;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    justify-content: space-around;
    display: flex;
}

#information {
    text-align: center;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    width: 200px;
}

a {
    cursor: pointer;
    color : black;
    text-decoration: none;
}